* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #f8f8ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-head {
  display: flex;
  justify-content: space-between;
  background-color: #6a5acd;
  padding: 20px;
}

.current-date {
  font-size: 24px;
  font-weight: 600;
}

.arrowBox {
  display: flex;
  gap: 15px;
}

.arrows {
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.arrows:hover {
  background-color: #ffc0cb;
  border-radius: 30%;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  justify-content: space-evenly;
  font-size: 20px;
  background-color: #6a5acd;
}
.weeks {
  color: #fff;
}
.emoji {
  font-size: 60px;
  transition: transform 0.3s ease, filter 0.3s ease;
  padding-left: 5px;
  padding-right: 5px;
}

.emoji:hover {
  transform: scale(1.3);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.2));
  cursor: pointer;
}

.days li {
  width: calc(100% / 7);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.days li:hover {
  font-weight: 600;
  transform: scale(1.3);
}

.days li.inactive {
  color: #a9a9a9;
  width: calc(100% / 7);
}

.days li.present {
  background-color: #ff69b4;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}

.summary {
  background-color: #008080;
  padding: 7px;
}

.dateSummary,
.moodSummary {
  font-size: 24px;
  color: #fff;
}

.emojiSummaryBox {
  display: flex;
  flex-direction: column;
}

.emojiSummary {
  font-size: 18px;
  color: #fff;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.emojiSummary:hover {
  background-color: #f0cedf;
}

.selectedMood {
  background-color: #ff69b4;
}
.main {
  display: flex;
  width: 600px;
  min-height: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.calendar {
  flex: 5;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: auto;
  max-height: 660px;
  /* background-color: red; */
}

.mood {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #ffc0cb;
}

.days {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  height: auto;
  flex-grow: 1;
}
